{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recipe creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn waves-effect waves-light green" />
    {{ form_end(form) }}

    <a href="{{ path('recipe_index') }}" class="waves-effect waves-light btn blue">Back to the list</a>
{% endblock %}
